* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px 0px;
}

.register-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}
